.footer {
    margin: 0 auto;
    .inner-line {
        display: flex;
        justify-content: center;
        .upper-line {
            width: 350px;
        }
        .bottom-line {
            width: 700px;
        }
    }
}